mixin footer()
	.c-footer
		.c-footer__list
			ul
				li Company
				li Überblick
				li Fakten
				li AGB
			ul
				li Info Center
				li Überblick
				li Lizenzmodell
				li Produkttour
				li Download
			ul
				li News
				li Highlights
				li Newsletter
				li Ankündigungen
				li Pressemitteilungen
			ul
				li Support
				li Forum
				li Hotline
				li Training
				li Dokumente
				li FAQ
			ul
				li Kontakt
				li Technischer Support
				li Online Demo anfordern
				li Partnerschaften
				li Vertrieb
		.c-footer__links
			ul
				li
					a(href='#') iT-CUBE Systems GmbH
				li
					a(href='#') Paul-Gerhardt-Allee 24
				li
					a(href='#') 81245 München
				li
					a(href='#') Tel.: +49 (0) 89 2000 148 00
				li
					a(href='#') Fax: +49 (0) 89 2000 148 29
			br
			span Copyright &copy;2010 IT-CUBE SYSTEMS. All rights reserved.