mixin c-headline(data)
	.c-headline
		.c-headline__block
			.c-headline__block-header.grey-grad
				h3 Headline 01
			.c-headline__block-txt.dotted
				span Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore diam nonumy 
			.c-headline__block-link
				a(href='#') mehr
		.c-headline__block
			.c-headline__block-header.grey-grad
				h3 Headline 02
			.c-headline__block-txt.dotted
				span At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sitAt vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit
			.c-headline__block-link
				a(href='#') mehr
		.c-headline__block
			.c-headline__block-header.grey-grad
				h3 Headline 03
			.c-headline__block-txt.dotted
				span Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing  
			.c-headline__block-link
				a(href='#') mehr