mixin c-vorteile(data)
	.c-vorteile
		.c-vorteile__info
			.c-vorteile__info-header.grey-grad
				h2 Vorteile auf einen Blick
			.c-vorteile__info-txt
				ul
					li Virtuelle Software Appliance (VMware Ready) oder Hardware Appliance
					li Skalierbarkeit und verteiltes Monitoring
					li Verschlüsselte Kommunikation (Core ? Satellite)
					li Vorgefertigte Templates
					li Vorgefertigte Plugins
					li Erweiterte Status Maps inkl. Dependencies
					li Integration von Extensions als Module in Centreon
					li Keine Lizenzbeschränkung auf Hosts/Checks
					li Updates und Management
					li Professionellen Support durch offiziellen Centreon Partner
					li „ready to use“ Distribution (Nagios &amp; Centreon bottled)
		.c-vorteile__tab
			.c-vorteile__tab-header.grey-grad
				h3 Spot Light
			ul
				li
					a(href='#tabs-1') News
				li
					a(href='#tabs-2') Login
				li
					a(href='#tabs-3') Forum
			#tabs-1.tab_item
				.c-vorteile__tab-wrapper
					.c-vorteile__tab-head
						span Tempor invidunt ut labore et
					.c-vorteile__tab-txt.dotted
						span Sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod est tempor invidunt ut labore et dolore magna erat, sed voluptua Sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod est tempor invidunt ut labore et dolore magna erat, sed voluptua
						a(href='#').read_more mehr &#62;&#62;
				.c-vorteile__tab-wrapper
					.c-vorteile__tab-head
						span Diam voluptua at vero
					.c-vorteile__tab-txt.dotted
						span Et accusam et justo duo dolores et rebum. Stet clita kasd voluptuagu bergren, no sea takimata sanctus est dolor sit amet Et accusam et justo duo dolores et rebum. Stet clita kasd voluptuagu bergren, no sea takimata sanctus est dolor sit amet
						a(href='#').read_more mehr &#62;&#62;
				.c-vorteile__tab-wrapper
					.c-vorteile__tab-head
						span Consetetur sadipscing elitr sed diam
					.c-vorteile__tab-txt.dotted
						span Elitr sed diam nonumy eirmod est tempor invidunt ut labore et dolore magna erat, sed diam voluptua. At vero eos et accusam Elitr sed diam nonumy eirmod est tempor invidunt ut labore et dolore magna erat, sed diam voluptua. At vero eos et accusam
						a(href='#').read_more mehr &#62;&#62;
			#tabs-2.tab_item
				form.tab_login
					.input_wrap
						span Username
						input(type='text')
					.input_wrap
						span Password
						input(type='password')
					.link_login
						a(href='#') forgot my password?
					.button_login
						button(type='submit').btn.btn-orange LOGIN
					.login__info
						p Sign up to 
							a(href='#') my-isyVmon 
							| - Free Membership
						p Join today and get instant FREE access to isyVmon software downloads, documents and a private use license.
					.login__button-blue
						button(type='button').btn.btn-blue join my-isyVmon
			#tabs-3.tab_item
				