mixin c-banner(data)
	.c-banner
		.c-banner__header
			.c-banner__header-wrap
				h1 Lösungen für proaktives IT-Monitoring &amp; Business Intelligence 
			form.c-banner__header-search
				input(type='text' name='search')
				button(type='submit').btn.btn-orange suchen
		.c-banner__content
			.c-banner__img
				//- img(src='s/images/useful/baner.jpg', alt)
				.c-banner__img-info
					p 
						b Lorem impsum dolor
					span.dotted Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea ren, no sea takimata sanctus est sadipscing elitr, sed diam nonumy eirmod tempor invidunt sed vero eos Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea ren, no sea takimata sanctus est sadipscing elitr, sed diam nonumy eirmod tempor invidunt sed vero eos...Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea ren, no sea takimata sanctus est sadipscing elitr, sed diam nonumy eirmod tempor invidunt sed vero eos...
						a(href='#').read_more mehr &#62;&#62;
					.c-banner__pagination
						a(href='#')
						a(href='#').active 1
						a(href='#') 2
						a(href='#') 3
						a(href='#') 4
						a(href='#') 5
						a(href='#')
			.c-banner__sidebar
				.c-banner__sidebar-items
					h3 Top Picks
					a(href='#')
						i.icon.icon-dots
				.c-banner__sidebar-items
					span Produkttour: 
					a(href='#') Lorem ipsum dolor
				.c-banner__sidebar-items
					span Whitepaper:
					a(href='#') Amet consetetur sadipscing elitr
				.c-banner__sidebar-items
					span Podcast:
					a(href='#') Sed diam nonumy eirmod
				.c-banner__sidebar-items
					span Solution:
					a(href='#') Tempor invidunt ut labore et dolore magna aliquyam
				.c-banner__sidebar-items
					span Webinar:
					a(href='#') Erat sed diam voluptua

